html {
  font-family: Helvetica;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: bold;
}

#header {
  background-image: url("../images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  color: white;
}

ul {
  list-style-type: none;
}

a,
.footer a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.NewYork {
  font-size: 23px;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
